:root {
	--primary-brand: #4d5ae5;
	--pressed-state: #404bbf;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--light: #f4f4fd;
	--modal-overlay: #2e2f42;
	--hero-background: #2e2f42;
}

/* body */
body {
	font-family: "Roboto", sans-serif;
	font-weight: regular;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: var(--text);
}

a {
	text-decoration: none;
}

/* Navigation */
ul {
	list-style: none;
}

.logo {
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.web {
	color: var(--primary-brand);
}

.studio {
	color: var(--modal-overlay);
}

.link {
	font-weight: 500;
	color: var(--modal-overlay);
}

.link:hover,
.link:focus {
	color: var(--pressed-state);
}

.address a {
	font-style: normal;
	color: var(--text);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
	color: var(--pressed-state);
}

/* Hero */

.hero {
	background: var(--hero-background);
}

.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 60px;
	text-align: center;
	color: white;
}

.hero-button {
	cursor: pointer;
	background: var(--primary-brand);
}

.hero-button:hover,
.hero-button:focus {
	background: var(--pressed-state);
}

/* Section 1 */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.advantages-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--dark);
}

/* Section 2 */

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	color: var(--dark);
}

/* Section 3 */

.team {
	background-color: var(--light);
}

.list-team-item {
	background-color: #fff;
}

.name {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: var(--dark);
}

/* Buttons */

.buttons {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: var(--primary-brand);
	background-color: var(--light);
}

.buttons:hover,
.buttons:focus {
	color: white;
	background-color: var(--pressed-state);
}

/* Portfolio */

.portfolio-title {
	font-weight: 500;
	font-size: 20px;
	color: var(--dark);
}

/* Footer */

.studio-white {
	color: white;
}

.footer {
	background-color: var(--dark);
}

.footer-text {
	color: var(--accent);
}
